{% extends 'my-account.html' %}
{% block form %}
<div class="main-content-wrapper">
    <!-- <div class="login-register-area"> -->
        <div class="container" >
            <div class="row" style="margin-left: 100px;">
                <!-- <div class="col-lg-9"> -->
                    <h2 class="heading-secondary mb--20">Password change successful!</h2>
                    <p>Your password was changed.</p>   
                <!-- </div> -->
            </div>
        </div>
    <!-- </div> -->
</div>
{% endblock %}