{% extends 'base.html' %}
{% block content %}
<div class="main-content-wrapper">
  <div class="login-register-area">
    <div class="container">
      <div class="row" style="margin-left: 100px;">
        <!-- <div class="col-lg-6" style="margin-left: 225px"> -->
          <h2 class="heading-secondary mb--30" style="text-align: center">Password reset</h2>
          <!-- <div class="login-reg-box p-4 bg--2"> -->
            <p>We've emailed you instructions for setting your password, if an account exists with the email you
              entered. You should receive them shortly.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check
              your spam folder.</p>
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}