{% extends 'base.html' %}
{% block content %}
<div class="main-content-wrapper">
  <div class="login-register-area">
    <div class="container">
      <div class="row" style="margin-left: 100px;">
        <div class="col-lg-6" style="margin-left: 225px">
          <h2 class="heading-secondary mb--30" style="text-align: center">Password reset</h2>
          <div class="login-reg-box p-4 bg--2">
            <form method="post" novalidate>
              {% csrf_token %}
              <div class="form__group mb--20">
                <label class="form__label" for="id_email">
                  Email address <span>*</span>
                </label>
                <input type="email" name="email" id="id_password1" class="form__input form__input--2">
              </div>
              <div class="form__group">
                <button type="submit" class="btn btn-5 btn-style-2" style="margin-left: 185px">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}