{% extends 'base.html' %}
{% block content %}
<div class="main-content-wrapper">
    <div class="login-register-area">
        <div class="container" style="height: 150px;">
            <div class="row" style="margin-left: 100px;">
                <div class="col-lg-9">
                    <h2 class="heading-secondary mb--20">Password changed with success!</h2>
                    <p>You may now <a href="{% url 'user:login' %}">log in</a> again.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}